<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continuous</key>
		<true/>
		<key>name</key>
		<string>grass</string>
		<key>speed</key>
		<integer>16</integer>
		<key>direction</key>
		<string>left</string>
	</dict>
	<dict>
		<key>continuous</key>
		<true/>
		<key>name</key>
		<string>fog_front</string>
		<key>speed</key>
		<integer>8</integer>
		<key>direction</key>
		<string>left</string>
	</dict>
	<dict>
		<key>name</key>
		<string>trees_front</string>
		<key>speed</key>
		<integer>12</integer>
		<key>direction</key>
		<string>left</string>
		<key>continuous</key>
		<true/>
	</dict>
	<dict>
		<key>continuous</key>
		<true/>
		<key>direction</key>
		<string>left</string>
		<key>name</key>
		<string>fog_back</string>
		<key>speed</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>trees_back</string>
		<key>continuous</key>
		<true/>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>trees_far</string>
		<key>continuous</key>
		<true/>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>mountain</string>
		<key>continuous</key>
		<true/>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>continuous</key>
		<false/>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<integer>0</integer>
		<key>name</key>
		<string>moon</string>
	</dict>
	<dict>
		<key>continuous</key>
		<false/>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<integer>0</integer>
		<key>name</key>
		<string>bg</string>
	</dict>
</array>
</plist>
