<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>grass</string>
		<key>speed</key>
		<real>1.6</real>
		<key>direction</key>
		<string>left</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fog_front</string>
		<key>speed</key>
		<real>2.4</real>
		<key>direction</key>
		<string>right</string>
	</dict>
	<dict>
		<key>name</key>
		<string>trees_front</string>
		<key>speed</key>
		<real>1.2</real>
		<key>direction</key>
		<string>left</string>
		<key>continuous</key>
		<true/>
	</dict>
	<dict>
		<key>direction</key>
		<string>left</string>
		<key>name</key>
		<string>fog_back</string>
		<key>speed</key>
		<real>2.4</real>
	</dict>
	<dict>
		<key>name</key>
		<string>trees_back</string>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>name</key>
		<string>trees_far</string>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<real>0.6</real>
	</dict>
	<dict>
		<key>name</key>
		<string>mountain</string>
		<key>direction</key>
		<string>left</string>
		<key>speed</key>
		<real>0.4</real>
	</dict>
	<dict>
		<key>direction</key>
		<string>still</string>
		<key>speed</key>
		<integer>0</integer>
		<key>name</key>
		<string>moon</string>
	</dict>
	<dict>
		<key>direction</key>
		<string>still</string>
		<key>speed</key>
		<integer>0</integer>
		<key>name</key>
		<string>bg</string>
	</dict>
</array>
</plist>
